.app-title {
  float: left;
}

/* Override Weird Heigh 64px of antd */
.ant-layout-header {
  height: 100% !important;
  line-height: 50px !important;
  padding: 0;
  margin-left: 5%;
  margin-right: 5%;
}
.ant-input-group-wrapper {
  vertical-align: middle;
}
/* End Override */

.app-title a {
  text-decoration: none;
  line-height: 50px;
  font-size: 21px;
  display: inline-block;
}

.app-title a:hover {
  text-decoration: none;
}

.app-header {
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 10;
  padding: 0;
}
.nav-icon {
  font-size: 20px;
  
}
.nav-menu-text {
  margin-left: 10px;
}

.poll-icon {
  margin-top: -4px;
}

@media (max-width: 768px) {
.app-title a {
  font-size: 24px;
}
}  



.flyout-container-hidden {
  display: none;
}
.flyout-container-display {
  display: block;
  overflow: hidden;
  position: absolute;
  margin-top: 0px;
  z-index: 100;
  width: 90%;
  /* background: rgb(240, 240, 240); */
}
.parent-menu-container-left {
  border-right: 0.2px solid grey;
  background: rgb(240, 240, 240);
  text-align: center;

  /* This is for same height on a Row */
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
.parent-menu-container-right {
  background: rgb(250, 250, 250);

  /* This is for same height on a Row */
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
.parent-menu-container-right-hidden {
  display: none;
}

.parent-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  
}

.parent-menu li {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  clear: left;
  line-height: 35px;
  text-decoration: none;
}
.parent-menu-li-hovering {
  background: blue;
}

.sub-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.sub-menu li {
  display: block;
  position: relative;
  float: left;
  clear: left;
  line-height: 30px;
  text-decoration: none;
}

.top-header-menu-item {
  display: block;
  overflow: hidden;
}

.cart-container {
  display: block;
  margin-right: 10px;
  float: right;
  overflow: visible;
}

.cart-container .cart-badge {
  margin-left: 5px;
  margin-top: 8px;
  margin-bottom: 10px;
}

/* Override ANT Design Badge */
.cart-container .cart-badge .ant-badge-count {
  background: #fdd835 !important;
  color: #4a4a4a;
}