.product-wrapper {
    /* box-shadow: 0 16px 30px rgba(0, 0, 0, 0.1); */
    border-radius: 0px;
    border-color:transparent;
    transition: all 0.2s linear;
    height: 400px;
    margin:0.5px;
    /* background: var(--xx) */
}
.product-wrapper:hover {
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.1);
}

.product-wrapper .image-thump {
    width:96%;
    height:250px;
    margin-left: 2%;
    margin-right: 2%;
    transition: all 0.2s linear;
    /* position: relative; 
    overflow:hidden; */
}

.product-wrapper .product-title {
    height: 50px;
    text-align: left;
}

.product-wrapper .product-price {
    /* transform: scale(1.2) */
    display:inline-block;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.2em;
}
.product-wrapper .product-price-old {
    display:inline-block;
    margin-right: 10px;
    text-decoration: line-through;
    font-size: 1em;
}
.product-wrapper .product-price-discount {
    display:inline-block;
    margin-right: 10px;
    font-style: italic;
    font-size: 1em;
}

.product-wrapper .btn-addtocart {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* .product-wrapper .product-info {
    
} */

