.product-filter {
    height: 60px;
    background: rgb(235, 235, 235);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.product-filter .filter-option {
    display:inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
