
.brand-list-item {
    height: 120px;
    /* width: 120px; */
    margin: 0px;
    /* border: 0.2px solid rgb(225, 225, 225); */
    border-right: 0.2px solid rgb(225, 225, 225);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.brand-list-item:active{
    background: #1890FF;
    color: white;
}

.brand-list-item > span {
    font-size: 1.5em;
}
@media (max-width: 768px) {
    .brand-sidemenu {
        display: none;
    }
}
